
<br />
<div class="form-group">
  <label>List of books</label>
</div>

<kendo-grid [data]="books" [height]="410">
  <kendo-grid-column field="bookID" title="ID" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="bookName" title="Name" width="80">
  </kendo-grid-column>
  <kendo-grid-column field="yearOfPublish" title="Category">
  </kendo-grid-column>
  <kendo-grid-column kendoButton [routerLink]="['/']" [primary]="true">
    title="Category">
    My Kendo UI Button
  </kendo-grid-column>

</kendo-grid>
