<!--<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]="['/']">WebApplication1</a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/']">
            <span class='glyphicon glyphicon-home'></span> Home
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/edit/:id']">
            <span class='glyphicon glyphicon-education'></span> Edit
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/create']">
            <span class='glyphicon glyphicon-th-list'></span> Create
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>-->
<div class="sidenav">
  <h1><a [routerLink]="['/']">WebLibrary</a></h1>
  <a href="#">Authors list</a>
  <a href="#">Library contacts</a>
</div>
